<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>
        Hello django
    </h1>
    <p>
        Once upon a time, there were two close friends who were walking through the forest together. They knew that anything dangerous can happen any time in the forest. So they promised each other that they would always be together in any case of danger.
Suddenly, they saw a large bear getting closer toward them. One of them climbed a nearby tree at once. But unfortunately the other one did not know how to climb up the tree. So being led by his common sense, he lay down on the ground breathless and pretended to be a dead man.
Baca artikel detiksulsel, "25 Contoh Narrative Text dalam Bahasa Inggris Lengkap dengan Terjemahannya" selengkapnya https://www.detik.com/sulsel/berita/d-6497025/25-contoh-narrative-text-dalam-bahasa-inggris-lengkap-dengan-terjemahannya.
    </p>
</body>
</html>